

body{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;  
}

header{
  margin: 0;
  padding: 0;
}

hr {
  width: 100%;
  border: none;
  margin: 0;
  border-top: 1px solid rgba(38, 61, 111, 0.15);
  
}

h1, h2, h3 {
  font-family: 'Inter', sans-serif;
  color: #041946;
  font-weight: 700;

}

h2{
  font-size: 1.3em;
  color: rgb(230, 38, 198);
  margin: 8px 0;
  
}

h3{
  font-size: 1.3em;
  margin: 0px 0 16px 0;
  
  
}

h3.card {
  font-size: 1.2em;
  margin: 0;
}

p {
  /* margin: 20px 0; */
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #333333;
  line-height: 28px;
}

p.card {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 2px 0 5px 0;
}

p.details{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #041946;
  
}

p.label{
  color: #596682;
  font-family: 'Inter';
  margin: 0px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.56px; 
}

a {
  text-decoration: none;
  /* text-decoration-color: #b4b4b4; */
  color: inherit;
}

li {
  line-height: 5px;
}

span {
  /* margin-right: 20px; */
}

.span-footer{
  margin-right: 0;
}

.nav {
  height: 35px;
  width: 100%;
  /* background-color: rgb(230, 230, 230); */
  background: #FFFFFF;
  position: fixed;
  z-index: 1;
}

.nav-container {
  display:flex;
  align-items: center;
  height: inherit;
  width: fit-content;
  padding-left: 50px;
}

.nav-item {
  display:flex;
  align-items: center;
  height: inherit;
  width: fit-content;
  padding: 0 6px;
}

.nav-item:hover{
  background: rgba(211, 241, 255, .4);
  border-radius: 2px;
}

.p-nav{
  margin: 0;
  font-size: 15px;
}

li p{
  line-height: 16px;
}

.li-last{
  margin-bottom: 28px;
}

.header-bg{
  /* background-color: #041946; Azul oscuro */
  /* background-image: linear-gradient(to left, #4DCCEC 0%, #F931D9 90%); */
  background-image: linear-gradient(to left, #4DCCEC 20%, #320F83 90%);
  /* background-image: linear-gradient(to left, #F931D9 0%, #320F83 90%); */
  height: 20vh;
  margin: 0;
  padding: 0;
}

.container-general{
  width: 900px;
  height: auto;
  margin: 0 auto;
  padding-top: 40px;
  flex: 1 0 auto;
  
}

.card-menu{
  width: 100%;
  /* border: 1px solid red; */
  height: 102px;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  transition: all 400ms;
}

.card-menu:hover{
  transform: scale(1.03, 1.03);
  box-shadow: 0px 4.80232px 11px rgba(0, 0, 0, 0.2);
}

.card-icon{
  width: 72px;
  height: 72px;
  background: linear-gradient(180deg, #FFB87E 0%, #FF2689 100%);
  /* background-color: rgb(230, 38, 198); */
  border-radius: 12px;
  min-width: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-icon.illustration{
  background: linear-gradient(180deg, #3BDED2 0%, #0CD26A 100%);
}

.card-icon.about {
  background: linear-gradient(180deg, #4DCCEC 0%, #320F83 100%);
}

.card-titles{
  /* border: 1px solid blue; */
  width: auto;
  height: 72px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 144px;
  
}

.card-detail {
  /* border: 1px solid blue; */
  margin: 0 25px;
  max-width: 530px;
  width: 100%;
  height: 72px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  box-sizing: border-box;
}

.card-detail p.card{
  color: #465370;
}

.container{
  width: 900px;
  height: auto;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
  position: relative;
} 

.container.margintop{
  margin-top: 40px;
}

.container-cv{
  display: flex;
  flex-direction: row;
  padding: 20px  0 40px 0;
}

.hr {
  width: 100%;
  margin: 5px 0;
  max-width: 860px;
  padding: 0;
}

.intro-title{
  position: relative;
  margin-top: 80px;
}

.intro {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
}

.icon2{
  position: absolute;
  bottom: 123px;
  margin: 16px 0 16px 5px;
}
.icon2.icon2-intern{
  bottom: 110px;
  position: absolute;
}

.home.title-h1 {
  font-size: 48px;
  margin-top: 24px;
  margin-bottom: 0;
}

.intro-h1{
  font-size: 2.8em;
  margin-bottom: 20px;
}

.intro-h1.title-h1{
  font-size: 2em;
  margin-top: 24px;
  margin-bottom: 0;
}

.intro-detail{
  position: relative;
}

.intro-detail h2{
  font-size: 24px;
}

.icon{
  position: absolute;
  bottom: 111px;
  margin: 16px 0 16px 5px;
}

.icon-unicorn{
  width: 140px;
}

.intro-button{
  /* border: 1px solid purple; */
  width: 0;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.intro-button:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip {
  position: absolute;
  top: -168px;
  right: -32px;
  visibility: hidden;
  opacity: 0;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  white-space: nowrap;
  transition: 0.2s;
  box-shadow: 0 2px 8px rgba(4,25,70,0.3);
  background: linear-gradient( #47A2D5, #47A2D5) padding-box, linear-gradient(180deg, #72B8DF 46%, rgba(50,15,135,.7) 100%) border-box ;
}

.tooltip p {
  font-family: "Inter";
  color: #ffffff;
  font-size: 1rem;
  text-align: left;
  margin: 0;
}

.triangle-tooltip {
  position: absolute;
  top: 39px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #47A2D5;
  right: 50%;
  transform: rotateZ(90deg) translateY(-30%);
  bottom: -15px;
}

.contact-button {
  border: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 26px;
  background: linear-gradient( #47A2D5, #47A2D5) padding-box, linear-gradient(180deg, #72B8DF 46%, rgba(50,15,135,.7) 100%) border-box ;
  /* background-image: linear-gradient(to left, #041946 0%, #6a5acd 90%); */
  /* background-image: linear-gradient(45deg, #4DCCEC 0%, #320F83 100%); */
  /* background: linear-gradient(70deg, blue, pink); */
  /* box-shadow:  3px 4px 10px rgba(34, 34, 34, 0.68); */
  box-shadow: 0 2px 8px rgba(4,25,70,0.3);
  width: 50px;
  height: 50px;
  padding: 10px 10px;
  position: absolute;
  top: -114px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
}


.contact-button.contact-intern{
  top: -55px;
}

.icon-contact{
  width: 28px;
}

.back-button{
  display:flex;
  align-items: center;
  height: inherit;
  width: fit-content;
  padding: 0 6px;
}

.content {
  width: 100%;
  height: 28px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  padding-left: 4px;
  flex: 1 0 auto;
}

.content:hover{
  background: rgba(211, 241, 255, .4);
  border-radius: 5px;
  padding-left: 4px;
}

.p-menu {
  padding-left: 10px;
  font-size: 17px;
}

.container-projects{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  width: 400px;
  background-color: rebeccapurple;
  margin: 10px;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 400ms;
}

.project.test {
  position: relative;
}

.year{
  border: 1px solid white;
  border-radius: 8px;
  padding: 4px 8px;
  width: fit-content;
  background: rgba(255, 255, 255, 0.12);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background: linear-gradient(22deg, rgb(26, 2, 41) -4%, rgba(0, 0, 0, 0) 48%); */
  background: linear-gradient(200deg, rgba(4, 25, 70, 0.00) 40.26%, #041946 94.27%);
 
}

.text {
  position: absolute;
  bottom: 0;
  left: 24px;
  bottom: 19px;
}

.text h3 {
  color: #FFFFFF;
  margin: 8px 0 5px 0;
}

.text p {
  color: #FFFFFF;
  margin: 0;
  font-weight: 400;
  line-height: normal;
  font-size: 14px;
  line-height: normal;
}

.project:hover {
  transform: scale(1.05, 1.05);
}

.project img {
width: 100%;
margin: 0 auto;
overflow: hidden;
display: flex;
justify-content: center;
object-fit: cover;
}

.project-img {
  margin-bottom: 10px;
}

.container-about{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.about-info{
  width: 58%;
  box-sizing: border-box;
  
}

.about-img{
  width: 42%;
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  
}

.about-img img{
  width: 240px;
  height: 240px;
  border-radius: 140px;
}

.social-icons{
  display: flex;
}

.social-icons svg{
  stroke: #041946;
  cursor: pointer;
}

.social-icons svg:hover{
  stroke: rgb(84, 85, 96);
}

.social-icons img{
  width: 24px;
  height: auto;
}

.cv-button{
  border: 1px solid #95A0B7;
  border-radius: 8px;
  color: #041946;
  background-color: white;
  padding: 12px 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
}

.footer {
  /* border: 1px solid blue; */
  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.p-footer{
  margin: 0;
  padding: 0 20px;
}

.luna{
  /* border: 1px solid green; */
  width: 15px;
  height: 15px;
  position: absolute;
  right: 50px;
}

/* #email:valid {
  border: 2px solid black;
} */



@media screen and (max-width: 1023px){
  .nav-container{
    padding-left: 5px;
  }

  .container{
    width: 88vw;
  }

  .container-general{
    width: 100vw;
  }
  
  .container-projects{
    width: 100%;
    justify-content: space-between;
  }

  .project{
    width: 49%;
    margin: 8px 0;
  }
}

@media screen and (max-width: 768px){
  .container{
    width: 90vw;
  }

  .container-general{
    width: 100vw;
  }

  .container.hr{
    width: 100%;
  }

  .about-img{
    width: 40%;
    margin-top: 68px;
  }
  
  .about-img img{
    /* width: 100%; */
    height: 290px;
    border-radius: 15px;
    object-position: 28% 50%;
    object-fit: cover;
  }

}

@media screen and (max-width: 569px){
  .intro-h1{
    font-size: 2.7em;
  }

  .icon{
    bottom: 110px;
  }

  .icon2{
    bottom: 112px;
  }

  .container{
    width: 100vw;
  }

  .container-general{
    width: 100vw;
  }

  .container.hr{
    width: 100%;
  }

  .luna{
    right: 20px;
  }

  .intro.intro-res{
    flex-direction: column-reverse;
    
  }

  .about-info{
    width: 100%;
    padding: 0;
  }

  .about-img{
    width: 100%;
    margin-top: 8px;
  }
  .about-img img{
    height: 185px;
  }
  .cv-button{
    display: block;
    margin: 20px auto 20px auto;
  }
}

@media screen and (max-width: 497px){
  h2{
    font-size: 1.2em;
    margin: 8px 0 ;
  }

  h3{
    font-size: 17px;
  }

  .home.title-h1{
    font-size: 32px;
  }

  .container{
    width: 100vw;
  }

  .icon{
    bottom: 60px;
  }

  .icon-unicorn{
    width: 120px;
  }

  .intro-h1{
    font-size: 2em;
    margin-bottom: 8px;
  }

  .intro-detail h2{
    font-size: 20px;
  }

  .contact-button{
    width: 36px;
    height: 36px;
    padding: 8px;
    top: -75px;
  }

  .icon-contact{
    width: 17px;
  }

  .project.test {
    width: 100%;
  }

  .project.test a img{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    object-fit: cover;
  }

  .project{
    width: 100%;
  }

  .icon2{
    bottom: 69px;
  }

  .icon2 img{
    width: 80px;
  }

  .intro-title{
    margin-top: 80px;
  }

  .icon2.icon2-intern{
    bottom: 110px;
  }

  .contact-button.contact-intern {
    top: -38px;
  }
}



@media screen and (max-width: 426px){
  .intro-h1{
    font-size: 1.6em;
    margin-bottom: 8px;
  }

  h2{
    font-size: 1em;
    margin: 8px 0 ;
  }

  .icon{
    bottom: 76px;
  }

  .icon-unicorn{
    width: 100px;
  }

  .contact-button{
    top: -63px;
  }

  .icon2{
    bottom: 63px;
    margin: 16px 0 16px -6px;
  }

  .icon2 img{
    width: 100px;
  }

  .icon2.icon2-intern{
    bottom: 100px;
    margin: 16px 0;
  }
  .cv-button{
    margin: 5px auto 20px auto;
  }
}


@media screen and (max-width: 320px){
  h2{
    font-size: 1em;
    margin: 8px 0 ;
  }

  h3{
    font-size: 1em;
  }

  .header-bg{
    height: 18vh;
  }

  .contact-button{
    top: -67px;
  }

  .icon{
    bottom: 108px;
  }

  .icon-unicorn{
    width: 96px;
  }


  .luna{
    right: 0px;
  }
}